# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\oliwi\Desktop\studia\III semestr\obiektowe\KowalikOliwia-etap3\KowalikOliwia-etap3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
